*{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    justify-content: space-around;
    text-align: center;
     background: rgba(229, 84, 115, 0.10);
    padding: 50px 20px 0px 50px;
}

.btn{
    margin-top: 10px;
 color: #fcdede;
font-family: open sans;
font-size: 30px;
font-weight: 500;
border-radius: 8px;
background: #E55473;
display: block;
padding: 20px 43px;
gap: 10px;
align-items: flex-start;
}
.btn:hover{
    color: #E55473;
    background-color: burlywood;
}
.title-h1{
  color: #272727;
font-family: open sans;
font-size: 50px;
font-weight: 800;
text-align: left;
}
.title-p{
    text-align: right;
    color: rgba(39, 39, 39, 0.60);
    font-family: open sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    display: block;
    text-align: left;
}
.main-contant{
    text-align: center;
    margin-top: 150px;
    padding: 50px;
} 
.main-h1{
 color: #272727;
font-family: open sans;
font-size: 40px;
font-weight: 800;
}
.main-p{
  color: rgba(39, 39, 39, 0.60);
font-family: open sans ;
font-size: 18px;
font-weight: 400;
line-height: 30px;
text-align: center;
}

.banner{
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 100px;
    padding-top: 0px;
    margin-bottom: 50px;
}
#a{
 width: 270px;
height: 380px;
flex-shrink: 0;
padding: 20px;
}
.div1{
    width: 300px;
    height: 400px;
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
background: rgba(167, 33, 98, 0.15);
box-shadow: 10px 10px 5px #aaaaaa;

}
#b{
 width: 300px;
height: 300px;
flex-shrink: 0;
padding: 10px;
}
.div2{
    width: 300px;
height: 400px;
flex-shrink: 0;
border-radius: 300px 300px 0px 0px;
background: rgba(5, 151, 160, 0.15);
box-shadow: 10px 10px 5px #aaaaaa;

}
#c{
width: 270px;
 height: 380px;
height: 378px;
flex-shrink: 0;
padding: 20px;
}
.div3{
width: 300px;
height: 400px;
flex-shrink: 0;
border-radius: 300px 300px 0px 0px;
background: rgba(71, 125, 17, 0.15);
box-shadow: 10px 10px 5px #aaaaaa;

}
